// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.unique { 
    background-image: url('https://cdn3.vectorstock.com/i/1000x1000/56/22/supermarket-background-with-food-stickers-vector-32115622.jpg');
    background-size: cover;
    background-repeat: no-repeat;
 }

 .homeCenter {
     margin-top: 50%;
 }
 